# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
ENV/
env/

# Environment Variables & Secrets
.env
.env.local

# Databases
*.db
*.sqlite3

# Frontend Build & Dependencies
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Logs
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
